@import "sass/base/base";
@import "sass/layouts/inner-page";

.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
  justify-items: center;
  padding: 0.5rem 0 4.5rem 0;
}

.dragger-input {
  width: 100vw;
  padding: 0 2rem;
}

.nav-bar {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: right;
  padding: 1rem 2rem 0 2rem;

  & button {
    padding: 0.75rem;
    color: $blue;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    background-color: $white;

    &:focus {
      outline: none;
    }
  }
}