@import "sass/base/base";

/* --- Header styling --- */
.header {
  position: relative;
  height: 40vh;
  background: $yellow-dark;
}
.title {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: $serif;
  font-size: 4.6rem;
  text-align: center;
  line-height: 1.2;
}
