@import "sass/base/base";

.label {
  font-weight: 700;
  color: $grey;
}

.dragger {
  overflow: hidden;
  cursor: grab;
  padding-top: 0.5rem;

  :focus {
    outline: none;
  }

  &-element {
    position: relative;
    overflow: hidden;
    margin-bottom: 0.2rem;
    margin-right: 1rem;

    // Element labels | titles.
    & span {
      position: absolute;
      bottom: 2.5rem;
      left: 50%;
      transform: translate(-50%, 50%);
      color: $grey;
      font-weight: 700;
      white-space: pre-wrap;
      pointer-events: none
    }
  }
}

.select {
  height: 11rem;
  width: 9rem;
  border: 2px solid $blue;
  border-radius: 0.5rem;
  background-color: $white;
  box-shadow: 0 3px 10px rgba($black, .25);
  transition: all .1s;

  & svg {
    animation: fadeIn .1s ease-in;
    position: absolute;
    content: '';
    top: 0.5rem;
    right: 0.75rem;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    background: $yellow-dark;
    border-radius: 50%;
    color: white;
  }
}

.count {
  height: 8rem;
  width: 7.5rem;
  border: 2px solid $yellow-dark;
  border-radius: 2rem;
  background-color: $white;
}

.error {
  border: 2px solid $red;
}