@import "sass/base/base";

.inner-header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  padding-top: 0.5rem;

  h2 {
    font-size: 3rem;
    line-height: 3.25rem;
    margin-left: 2rem;

    span {
      display: block;
      font-size: 1.75rem;
    }
  }
}