@import "../abstracts/mixins";
@import "../abstracts/functions";
@import "../abstracts/variables";
@import "../themes/themes";
@import "animations";
@import "icons";
@import "typography";

*,
*::after,
*::before  {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Root font-size: 1rem = 10px = 62.5% of default (16px) */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}