@keyframes fade {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

@keyframes slide {
  0% {
    transform: translateY(100rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes big-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}