// Titles
.hero-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -35%);

  font-family: $serif;
  font-size: 4.6rem;
  text-align: center;
  line-height: 1.2;
}

.header-title {
  color: $navy;
  font-size: 3.8rem;
  line-height: 1.2;
}

.section-title {
  font-family: $serif;
  color: $grey;
}