/* Separator styles taken from https://wweb.dev/resources/css-separator-generator */
/* --- Segment separator types --- */
.curved {
  position: relative;
}
.curved::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10%;
  bottom: 0;
  border-top-left-radius: 10% 100%;
  border-top-right-radius: 10% 100%;
}

.semi-circle {
  position: relative;
}
.semi-circle::before {
  position: absolute;
  content: "";
  width: 6rem;
  height: 6rem;
  bottom: 0;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  background: inherit;
  transform: translateX(-50%) translateY(37%);
}

.square {
  padding-top: 2.2rem;
  position: relative;
}


/* --- Themes --- */
.yellow-dark,
.yellow-dark::before,
.yellow-dark::after {
  background: var(--yellow-dark);
}

.green,
.green::before,
.green::after{
  background: var(--green);
}
.green p {
  color: var(--white);
}
.green span {
  color: var(--blue)
}

.white,
.white::before,
.white::after {
  background: var(--white);
}


/* --- Separator colors --- */
.separator--white::before,
.separator--white::after {
  background: var(--white);
}
