@import "sass/base/base";

/* --- Segment separator types --- */
/* Inspired by https://wweb.dev/resources/css-separator-generator */
.square {
  width: 100vw;
  padding: 1rem 2.5rem 1.5rem 2.5rem;
}

.curved {
  position: relative;
  width: 100vw;
  border-top-left-radius: 2rem 2rem;
  border-top-right-radius: 2rem 2rem;
  padding: 1rem 2.5rem 1.5rem 2.5rem;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.5rem;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.curved-right {
  position: relative;
  border-bottom-right-radius: 12% 40%;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.semi-circle {
  position: relative;
  width: 100vw;
  padding: 1rem 2.5rem 1.5rem 2.5rem;

  &:before {
    position: absolute;
    content: "";
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 50%;
    z-index: 1;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(-65%);
  }
}

/* --- Separator colors --- */
.separator {

  &--white::before {
    background: $white;
  }

  &--blue-selected::before {
    background: $blue-selected;
  }

  &--yellow-dark::before {
    background: $yellow-dark;
  }

  &--yellow-light::before {
    background: $yellow-light;
  }

  &--yellow-lighter::before {
    background: $yellow-lighter;
  }
}
