@import "sass/base/base";

/* --- Segment separator types --- */
/* Taken from https://wweb.dev/resources/css-separator-generator */
.square {
  padding: 0.5rem 4rem 1.5rem 4rem;
}

.curved {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.5rem;
    top: 0;
    margin-top: -2.5rem;
    border-top-left-radius: 5rem 5rem;
    border-top-right-radius: 5rem 5rem;
    background: inherit;
  }

  h2 {
    position: absolute;
    top: -1.5rem;
    left: 3rem;
  }
}

.curved-right {
  position: relative;
  border-bottom-right-radius: 12% 40%;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.semi-circle {
  position: relative;
  padding-top: 1.75rem;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 50%;
    z-index: 1;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(-65%);
  }

  h2 {
    position: absolute;
    top: 1rem;
    left: 3rem;
  }
}

.square {
}

/* --- Separator colors --- */
.separator--white::before {
  background: $white;
}

.separator--yellow-dark::before {
  background: $yellow-dark;
}
