@import "sass/base/base";

/* --- Segment separator types --- */
/* Taken from https://wweb.dev/resources/css-separator-generator */
.curved {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.5rem;
    top: 0;
    border-top-left-radius: 10% 100%;
    border-top-right-radius: 10% 100%;
    background: inherit;
    transform: translateY(-100%);
  }

  h2 {
    position: absolute;
    top: -10%;
    left: 9%;
  }
}

.semi-circle {
  position: relative;
  padding-top: 3rem;

  &:before {
    position: absolute;
    content: "";
    width: 6rem;
    height: 6rem;
    top: 0;
    left: 50%;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(-65%);
  }

  h2 {
    position: absolute;
    top: 8%;
    left: 9%;
  }
}

/* --- Themes --- */
// TODO maybe turn these into Mixins if they have to be re-used.
.green {
  background: $green;
  color: $white;

  span {
    color: $blue;
  }
}

.white {
  background: $white;
}

/* --- Separator colors --- */
.separator--white::before {
  background: $white;
}
