/* Separator styles taken from https://wweb.dev/resources/css-separator-generator */
/* --- Segment separator types --- */
.curved {
  position: relative;
}
.curved h2 {
  position: absolute;
  top: -7%;
  left: 9%;
}
.curved::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5rem;
  top: 0;
  border-top-left-radius: 10% 100%;
  border-top-right-radius: 10% 100%;
  transform: translateY(-100%)
}

.semi-circle {
  position: relative;
  padding-top: 3rem;
}
.semi-circle h2 {
  position: absolute;
  top: 10%;
  left: 9%;
}
.semi-circle::before {
  position: absolute;
  content: "";
  width: 6rem;
  height: 6rem;
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-65%);
}

/* --- Themes --- */
.green,
.green p,
.green h2 {
  background: var(--green);
  color: var(--white);
}
.green span {
  color: var(--blue)
}


/* --- Separator colors --- */
.separator--white::before {
  background: var(--white);
}