/* --- Themes --- */
.theme--yellow-dark {
  background: $yellow-dark;

  h1 {
    color: $navy;
  }
}

.theme--red {
  background: $red;
  color: $white;
}

.theme--blue {
  background: $blue;
  color: $white;
}

.theme--green {
  background: $green;
  color: $white;
}

.theme--white {
  background: $white;

  h2, h3, p {
    color: $navy;
  }

  span {
    color: $blue;
  }
}