@import "sass/base/base";

.blog-items {
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: 1fr 4fr;
  grid-row-gap: 3rem;
  grid-column-gap: 1.5rem;
  padding: 3rem 2rem 3rem 2rem;
}
