/* Section separator styling */
.section-separator:nth-child(1) {
  background: var(--yellow-dark);
}
.section-separator:nth-child(1)::after {
  background: var(--white);
}

.section-separator:nth-child(2) {
  background: var(--white);
}
.section-separator:nth-child(2)::after {
  background: var(--white);
}

.section-separator:nth-child(3) {
  padding-top: 2.2rem;
  background: var(--green);
}