:root {
    --black: #3D3B39;
    --grey: #707070;
    --navy: #275666;
    --blue: #4FA0A3;
    --blue-selected: #62A9AA;
    --green: #75C79E;
    --yellow-lighter: #FFEBCF;
    --yellow-light: #FEC576;
    --yellow-dark: #FEBE5B;
    --red: #F0685D;
    --white: #FFFFFF
}

/* Background styles */
.black-background {
    background: var(--black);
}
.grey-background {
    background: var(--grey);
}
.navy-background {
    background: var(--navy);
}
.blue-background {
    background: var(--blue);
}
.green-background {
    background: var(--green);
}
.yellow-lighter-background {
    background: var(--yellow-lighter);
}
.yellow-light-background {
    background: var(--yellow-light);
}
.yellow-dark-background {
    background: var(--yellow-dark);
}
.red-background {
    background: var(--red);
}
.white-background {
    background: var(--white);
}