/* --- Colors variables --- */
$black: #3d3b39;
$grey: #707070;
$navy: #275666;
$blue: #4fa0a3;
$blue-selected: #62a9aa;
$green: #75c79e;
$yellow-lighter: #ffebcf;
$yellow-light: #fec576;
$yellow-dark: #febe5b;
$red: #f0685d;
$white: #ffffff;

/* --- Typography --- */
$serif: "Lora", serif;
$sans-serif: "Lato", sans-serif;
