@import "sass/base/base";

.blog-list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: 1fr 4fr;
  grid-row-gap: 2.5rem;
  grid-column-gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.blog-thumbnail {
  height: 6rem;
  width: 6rem;
  background: $yellow-light; // placeholder
  border-radius: 30%;
  margin: auto;
}

.blog-item {
  line-height: 2rem;

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  p {
    font-size: 1.6rem;
    font-weight: 300;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  span {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
  }
}